body {
    margin: 0;
    padding: 0;
    /* font-family: Verdana, Tahoma, sans-serif; */
    font-family: monospace;
    font-size: 14px;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.header {
    background-color: #666;
    padding: 5px;
}

.header img {
    width: 100px;
}

div, .r, ul li {
    padding: 3px;
}

.title {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

ul li small {
    font-size: 12px;
    color: #999;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #666;
}

a:hover, button:hover {
    background-color: #666;
    color: #fff;
}

button:hover {
    border: 1px solid #fff;
}

.r {
    text-align: right;
}

.footer {
    background-color: #666;
    padding: 3px;
    text-align: center;
    color: #fff;
}

textarea {
    width: 98%;
    height: 100px;
}

button {
    background-color: #fff;
    color: #666;
    border: 1px solid #666;
    font-weight: bold;
    padding: 2.5px 5px;
}
